.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-align: center;
}

span.bl {
  color: black;
}

span.bl.ul {
  color: black;
  border-bottom: 5px solid black;
}

span.gr {
  color: green;
}

span.rd.ul {
  color: red;
  border-bottom: 5px solid red;
}
